input[type="search"],
input[type="submit"] {
  height: 2rem;
  font-size: larger;
  border: 0;
}

input[type="search"] {
  width: 25rem;
  outline: 8px solid #84c28d;
  &:focus,
  &:active {
    outline: 7px solid #088c8e;
  }
}

input[type="submit"] {
  color: white;
  width: 5rem;
  background-color: #22c1c3;
  border-radius: 0px 3px 3px 0px;
  &:focus,
  &:active {
    outline: 2px solid white;
    background-color: #088c8e;
  }
}
