section.page {
  animation: rightSlide 1s ease;
}

.CardsContainer {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

@keyframes rightSlide {
  0% {
    transform: translate(100%,0);
  }

  100% {
    transform: translate(0px, 0px)
  }

}

@media (max-width: 480px) {
  .CardsContainer {
    padding: 0;
  }
}
