.Nav-List {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 7rem;

  li {
    a {
      text-decoration: none;
      color: white;
      font-size: larger;
      border-radius: 2px;
      padding: 0.5rem 1rem 0.5rem 1rem;
      background: var(--background-nav-li);
      border: 2px solid white;
      transition: background-color 0.5s ease;
      &:hover {
        background-color: var(--background-nav-li-hover);
      }
    }
  }
}

@media (max-width: 480px) {
  .Nav-List {
    padding: 1rem;
  }
}
@media (min-width: 480px) {
  .Nav-List {
    margin-bottom: 3rem;
    margin-top: 2rem;
  }
}
