@font-face {
  font-family: "barlow-bold-italic";
  src: url("../../assets/fonts/BarlowCondensed-ExtraBoldItalic.ttf");
}

.App-logo {
  height: 5rem;
  pointer-events: none;
}

.App-header {
  background-color: #c0c0c0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Github-link {
  width: 7rem;
  background-color: #fff;
  color: #ff5757;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: 0.3s ease;
  transition-property: transform, border;
}

.Github-link:hover {
  border: 1px solid black;
  transform: translate(0px, -3px);
}

.title {
  font-family: "barlow-bold-italic";
}

h1 {
  color: black;
  text-shadow: 1px 0px 0px #ff5757;
  margin-block-start: 0;
  margin-block-end: 0;
}
