.CardComponent {
  display: flex;
  max-width: 20rem;
  width: 20rem;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    133deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(255, 196, 73, 1) 100%
  );
  padding: 0.5rem;
  height: 20rem;
  margin: 1rem;
  border-radius: 0.2rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.CardComponent-Image {
  transform: scale(1);
  transition: transform 0.5s ease;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.CardComponent-Image:hover {
  transform: scale(0.98);
}
