@import './keyframes.scss';
@import './vars.scss';
@import './mediaQueries.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;

  &.loaded {
    overflow-y: auto;
  }
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background: rgb(0, 0, 0);
  background: var(--background-app-color);
  color: white;
  min-height: 500vh;
}