.App {
  text-align: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    133deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 42, 48, 1) 50%,
    rgba(32, 0, 30, 1) 100%
  );
  color: white;
  min-height: 500vh;
}

li > a {
  text-decoration: none;
  color: white;
  font-size: larger;
  border-radius: 2px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    133deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(255, 196, 73, 1) 100%
  );
}

.giphySvg {
  width: 3rem;
}

.giphyLogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: sticky;
  width: 100%;
  background: black;
  top: 0;
  z-index: 1;
}

.giphyLogo > div {
  background: black;
  height: 100%;
  width: 10rem;
  right: 56%;
  position: absolute;
  z-index: -1;
}

.giphyLogo > h2 {
  z-index: -2;
  transition: transform 0.5s ease;
}

.giphyLogo > h2:hover {
  transform: translateX(-150px);
}
