.App {
  text-align: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    133deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 42, 48, 1) 50%,
    rgba(32, 0, 30, 1) 100%
  );
  color: white;
  min-height: 500vh;
  
  li {
    a {
      text-decoration: none;
      color: white;
      font-size: larger;
      border-radius: 2px;
      padding: 0.5rem 1rem 0.5rem 1rem;
      background: rgb(34, 193, 195);
      border: 2px solid white;
      transition: background-color 0.5s ease;
      &:hover {
        background-color: #088c8e;
      }
    }
  }
}
